annotated-types==0.7.0
attrs==23.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
cbor2==5.6.3
certifi==2024.2.2
charset-normalizer==3.3.2
demjson3==3.0.6
docstring_parser==0.16
fastjsonschema==2.19.1
idna==3.7
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyterlab_pygments==0.3.0
numpy==1.26.4
orjson==3.10.3
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.18.0
referencing==0.35.1
requests==2.31.0
rpds-py==0.18.1
soupsieve==2.5
typing_extensions==4.12.0
urllib3==2.2.1
